@import "../../global.scss";

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  overflow: hidden;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      width: 25%;
      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;

        img {
          border-radius: 50px;
        }
      }
    }

    .right {
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .navbar {
        @include mobile {
          display: none;
        }
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 20px;
          font-weight: 300;
          color: $mainColor;

          li {
            a {
              margin-right: 30px;
              font-size: inherit;
              color: inherit;
              text-decoration: none;
            }

            &:hover {
              font-weight: 600;
            }
          }
        }
      }

      .hamburger {
        width: 32px;
        height: 25px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        visibility: hidden;

        @include mobile {
          visibility: visible;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
